
/*product descreption part*/
.add_to_cart{
    width:250px;
}








/*----------------------------------------------------Media query----------------------------------------*/
/*media query product part*/

@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
     .add_to_cart{
        width: 200px;
    }
    .replacement{
        font-size: 15px;
    }
    .home_delivery{
         margin-left: 10px;
    }
    .expired_date{
        margin-left: 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .replacement{
        font-size: 15px;
    }
    .home_delivery{
        margin-left: 0px;
   }
   .expired_date{
       margin-left: 0px;
   }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .replacement{
        font-size: 15px;
    }
    .home_delivery{
        margin-left: 0px;
   }
   .expired_date{
       margin-left: 0px;
   }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .replacement{
        font-size: 15px;
    }
    .home_delivery{
        margin-left: 0px;
   }
   .expired_date{
       margin-left: 0px;
   }
}
